.mui-control-item {
	display: inline-block !important;
	width: 100px !important;
	color: #FFF !important;
	border: 1px solid #fff !important;
	border-radius: 3px !important;
	height: 29px !important;
	line-height: 29px !important;
	margin-top: 8px !important;
}
.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar {
	background-color:transparent !important;
}
.mui-segmented-control {
	background-color:#028ce6;
}
.mui-segmented-control a:first-child {
	border-right: 0px !important;
	margin-right: -2px !important;
	margin-left: 44px;
}
.mui-segmented-control a:last-child {
	border-left:0px  !important ;
	margin-left: -2px !important;
}
.mui-active {
	color: #028ce6 !important;
	background-color:#fff !important;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
	border: 0px !important;
}
.mui-slider-group .mui-active {
	background-color:transparent !important;
}
