.prop_icon{
	width: 44px;
	height: 44px;
	background-image: url(../images/daoju-icon.png);
	float: right;
}
.mui-table-view .mui-media-object{
	width: 50px;
	height: 50px;
	max-height: 50px;
	max-width: 50px;
}
.mui-table-view .mui-media, .mui-table-view .mui-media-body{
	font-size: 14px;
}
.mui-ellipsis{
	font-size: 12px;
}
.mui-table-view-cell{
	border-top: 1px solid #f0eff4;
}
.mui-table-view:before{
	background-color: #f0eff4;
}
.mui-ellipsis-xiankuan{
	width: 77%;
	display: inline-block;
}
.mui-content>.mui-table-view:first-child{
	margin-top: 0;
}
.mui-table-view-cell{
	padding: 10px;
}
