.mui-content {
	background-color: #f0eff4;
}

textarea {
	width: 100%;
	/*margin-left: 3.1%;*/
	min-height: 104px;
	padding-top: 5px;
	padding-left: 7.5px;
	font-size: 14px;
	background: #FFFFFF;
	margin-top: 10px;
	margin-bottom: 17.5px;
	border: 0px;
	color: #666;
	border-radius: 0px !important;
}
.number-word{
	right: 10px;
	bottom: 10px;
	font-size: 12px;
	color: #999999;
}