body {
	background: #f6f6f6;
	color: #999999;
}
.mui-content {
	overflow-x: hidden;
}
.mui-list-nav {
	background: #4a5c74;
}
.mui-list-nav a,.mui-title {
	color: #FFFFFF;
}
.basic-color {
	background: #FFFFFF;
}
.list-content-cate {
	height: 45px;
}
.list-content-cate ul {
	background: #FFFFFF !important;
	height: 45px;
}
.list-content-cate ul li {
	height: 45px;
	padding: 0 !important;
	width: 33.13% !important;
	border: 0px !important;
}
.list-content-cate input {
	width: 100%;
	height: 100%;
	border: 0px;
	border-radius: 0px;
	color: #999999;
	font-size: 15px;
}
.list-content-cate span {
	width: 1px;
    height: 25px;
    margin-top: 10px;
    display: inline-block;
    border-left: 1px solid #E5E5E5;
}
.selected {
	border-bottom: 1px solid #66CC99 !important;
	color: #66cc99 !important;
}
.list-content-filter {
	height: 23px;
	margin-top: 15px;
	padding-left: 10px;
	font-size: 14px;
	margin-bottom: 5px;
}
.list-content-filter span {
	margin-right: 10px;
}
.arrow-cate {
	margin-left: 48% !important;
    position: ABSOLUTE !important;
    margin-top: 1px;
}
.list-content-img {
	/*height: 188px;*/
	/*display: inline-block;*/
}
.list-content-img img {
	width: 100%;
	height: 100%;
	display: block;
}
.visitor-name {
	position: absolute;
    width: 100%;
    margin-top: -50px;
    font-size: 15px;
    color: #ffffff;
    padding-left: 10px;
}
.visitor-name span {
	width: 18px;
	height: 11px;
	display: inline-block;
	margin-left: 5px;
}
.visitor-name span img {
	width: 100%;
	height: 100%;
	display: block;
}
.visitor-target{
	font-size: 12px;
    position: absolute;
    color: #ffffff;
    margin-top: -27px;
    padding-left: 10px;
}
.list-visitor-info {
	height: 25px;
	font-size: 11px;
	background: #FFFFFF;
	line-height: 25px;
	margin: 0;
	color: #666666;
	padding-left: 10px;
}
.list-visitor-info ul {
	list-style: none;
	height: 11px;
	float: right;
	height: 25px;
	margin-right: -10px;
}
.list-visitor-info ul li:first-child {
	width: 11.5px !important;
}
.list-visitor-info ul li {
	width: 11px;
	height: 11px;
	float: left;
}
.visitor-info-img {
	margin-top: 7px;
}
.visitor-info-count {
	width: 41px !important;
    padding-left: 5px;
    line-height: 27px;
}
/*搜索无结果*/
.visitor-result {
	font-size: 17px;
	text-align: center;
	padding-top: 60%;
	padding-bottom: 30%;
}
