<nav class="mui-bar mui-bar-tab nav-footer">
	<a id="defaultTab" class="mui-tab-item  {{if nav=='index'}}mui-active{{/if}}" href="tab-webview-subpage-about.html">
		<span class="index background"></span>
		<span class="mui-tab-label">首页</span>
	</a>
	<a class="mui-tab-item {{if nav=='messgae'}}mui-active{{/if}}" href="message.html">
		<span class="msg background"></span>
		<span class="mui-tab-label">消息</span>
	</a>
	<a class="mui-tab-item {{if nav=='find'}}mui-active{{/if}}" href="find.html">
		<span class="discovery background"></span>
		<span class="mui-tab-label">发现</span>
	</a>
	<a class="mui-tab-item {{if nav=='set'}}mui-active{{/if}}" href="settings.html">
		<span class="settings background"></span>
		<span class="mui-tab-label">设置</span>
	</a>
</nav>