{{each list}}
<li class="mui-table-view-cell border-bottom">
	<a class="">
		<img class="mui-media-object mui-pull-left"{{if $value.type == 1}} src="../images/daoda.png"{{else}}src="../images/likai_03.png"{{/if}}>
		<div class="mui-media-body font_14">
			<span>已通知</span><span style="margin-left: 20px">{{$value.noticeInfo.username}}</span><span style="margin-left: 20px;">
				{{if $value.type == 1}}到达{{else}}离开{{/if}}
			</span><span style="margin-left: 20px;">{{$value.noticeInfo.addr}}</span>
			<p class='mui-ellipsis'>{{$value.ctime}}</p>
		</div>
	</a>
</li>
{{/each}}
